@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    display: flex;
    justify-content: center;
    background: #367588;
    margin-top: 50px;
}

#score {
    font-family: "Nunito",
        sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    margin-top: 80px;
    background: rgb(32 178 170 / 20%);
    box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.5),
        inset -4px -4px 4px 0 rgba(0, 0, 0, 0.5);
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #007fff;
    box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 3px 0 rgba(0, 0, 0, 0.5);
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #e30022;
    box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 3px 0 rgba(0, 0, 0, 0.5);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #228b22;
    box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 3px 0 rgba(0, 0, 0, 0.5);
}